<!doctype html>
<html lang="zh">
<!-- <head th:replace="frontend/common::commonHeader('影视')"> -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<title>影视</title>	
	<!--必要样式-->
	<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
	<!--[if IE]>
		<script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	
</head>
<body>
<div class="container">
<!-- 	    <div th:include="frontend/common::commonNav"></div> -->
<!-- 	    <div class="panel panel-primary"> -->
	<div class='login'>
		<div align="center">
			<img src="/static/images/miss.png" />
		</div>
	  <div class='login_title'>
	    <!--span>爱奇艺视频地址</span-->
	  </div>
	  <div class='login_fields'>
	    <div class='login_fields__user'>
	      <div class='icon'>
	        <img src='/static/images/user_icon_copy.png'>
	      </div>
	      <input placeholder='复制VIP视频的地址到此栏点击播放就行了' id="valueurl" name="valueurl" value="" type='text'>
	        <div class='validation'>
	          <img src='/static/images/tick.png'>
	        </div>
	      </input>
	    </div>
	    <div class='login_fields__submit'>
	     <input type='button' name="submitbf" value='播放'>
		 <br>
		 <input type="button" value="返回" onclick="javascrtpt:window.location.href='/'">
	    </div>
	 </div>
		<!--认证完毕-->
	  <div class='success'>
		<iframe style="width: 630px; height: 475px;" name="iframe0" id="vipurl" src="" frameborder="0" data-id="" seamless></iframe>
	  </div>
	  <!--//认证完毕-->
	  <div class='disclaimer'>
	  </div>
	</div>
<!-- 	</div> -->
	</div>
	
	<!--播放认证-->
	<div class='authent'>
	  <img src='/static/images/puff.svg'>
	  <p>全力加载中....</p>
	</div>
	<strong><div class="text" style=" text-align:center;">一键解析爱奇艺,优酷,腾讯,乐视,芒果等各大视频网站的VIP视频，本站所有接口均来至互联网仅提供本地测试使用，请勿用于任何商业用途，否则后果自负。！</div></strong>
	<!--播放认证//-->
	<script type="text/javascript" src='/static/js/stopExecutionOnTimeout.js?t=1'></script>
	<script type="text/javascript" src='/static/js/iqyapi.js'></script>
	<script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
	<script>
	$('input[type="button"]')["click"](function() {
	$(".login")["css"]('padding', '100px 700px 150px 40px');
	$(".success")["css"]('margin-left', '-170px');
	setTimeout(function() {
		$('.authent')["show"]()["animate"]({
			right: -320
		}, {
			easing: 'easeOutQuint',
			duration: 600,
			queue: false
		});
		$('.authent')["animate"]({
			opacity: 1
		}, {
			duration: 200,
			queue: false
		})["addClass"]('visible');
	}, 500);
	setTimeout(function() {
		$('.authent')["show"]()["animate"]({
			right: 90
		}, {
			easing: 'easeOutQuint',
			duration: 600,
			queue: false
		});
		$('.authent')["animate"]({
			opacity: 0
		}, {
			duration: 200,
			queue: false
		})["addClass"]('visible');
		$('.login')["removeClass"]('testtwo');
	}, 2500);
	setTimeout(function() {
		$('.success')["fadeIn"]();
	}, 3200);
	var bfqAtkgI1 = window["document"]["getElementById"]("valueurl")["value"];
	window["document"]["getElementById"]("vipurl")["src"] = "http://app.baiyug.cn:2019/vip/?url=" + bfqAtkgI1;
});
if (window["document"]["getElementById"]('auth') != undefined) {
        if (window["document"]["getElementById"]('auth')["innerHTML"] != '弹幕') {
            window["alert"]('温馨提示：\n已经更新了各大视频网站的VIP算法，现在解析正常。大多数VIP视频都能正常播放。如有不能播放的请多刷新几次,有可能是服务器缓存没有刷过来！！');
        }
    } else {
        window["alert"]('温馨提示：\n 已经更新了各大视频网站的VIP算法，现在解析正常。各大VIP视频都能正常播放。如有不能播放的请多刷新几次,有可能是服务器缓存没有刷过来！！');
    }
$('input[type="text"],input[type="password"]')["focus"](function() {
	$(this)["prev"]()["animate"]({
		'opacity': '1'
	}, 300);
});
$('input[type="text"],input[type="password"]')["blur"](function() {
	$(this)["prev"]()["animate"]({
		'opacity': '.5'
	}, 300);
});
$('input[type="text"],input[type="password"]')["keyup"](function() {
	if (!$(this)["val"]() == '') {
		$(this)["next"]()["animate"]({
			'opacity': '1',
			'right': '30'
		}, 300);
	} else {
		$(this)["next"]()["animate"]({
			'opacity': '0',
			'right': '20'
		}, 300);
	}
});
var PYDt2 = 0;
$('.tab')["click"](function() {dy
	$(this)["fadeOut"](300, function() {
		$(this)["parent"]()["animate"]({
			'left': '0'
		});
	});
});
	</script>

<link type="image/x-icon" href="/static/images/favicon.ico" rel="icon"/>
<link type="image/x-icon" href="/static/images/favicon.ico" rel="icon"/>
</body>
</html>