<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="frontend/common::commonHeader('影视')">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>影视</title>
</head>
<body>
	<div class="container">
	    <div th:include="frontend/common::commonNav"></div>
	    <div class="panel panel-primary">
	        <!-- Default panel contents -->
	        <div class="panel-heading" th:text="影视列表">影视</div>
			<table>
			
		        <thead>
		            <tr th:each="video : ${videoList}" >
		           	 <form action="/ckplayer" method="post">
		           		 <input type="hidden" name="videoId" th:value="${video.videoId}">
						 <input type="image" th:src="${video.videoThumbnail}" src="/static/images/logo.png" alt="点击播放" class="img-rounded" style="width: 140px;height: 190px;margin: 23px 15px 10px 30px"/>
		            </form>
		            </tr>
		        </thead>
			</table>
	    </div>
	    <div th:include="frontend/common::commonFooter"></div>
	</div>

</body>
</html>