<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8" />
		<title>颓废书生</title>
<!-- 		<script type="text/javascript" src="static/chplayer/chplayer.min.js"></script> -->
	</head>
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" />
	<script type="text/javascript" src="static/chplayer/chplayer.js"></script>
	
	<body>
	
	<div class="container-fluid padding-top-10 padding-bottom-10">
			<div class="row">
				<div class="col-xs-12 col-sm-5 col-md-5 col-sm-offset-1 col-md-offset-1">
					<img src="static/images/logo.png" id="logo"  style="height: 50px;margin:18px 110px"/>
				</div>
				<div class="col-xs-12 col-sm-5 col-md-5 text-right padding-top-10">
					<h5>当前版本：V1.0（更新时间：2018-12-18）</h5>
				</div>
			</div>
		</div>
		
		
		<div class="container-fluid padding-top-10">
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
					<div id="video" class="video"></div>
<!-- 					<div id="video" style="width: 860px; height: 500px;"></div> -->
				</div>
			</div>
		</div>
		<div class="container-fluid padding-top-10">
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
					<h3 class="playerstate">状态：等待加载播放器</h3>
					<p class="metadata"></p>
				</div>
			</div>
		</div>
		
		
		<div class="container-fluid">
		
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
					<h3>操作功能：</h3>
				</div>
			</div>
		
			<div class="row padding-bottom-10">
				<div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
					<button type="button" class="btn btn-primary" onclick="player.play()">播放</button>
					<button type="button" class="btn btn-success" onclick="player.pause()">暂停</button>
					<button type="button" class="btn btn-info" onclick="player.playOrPause()">播放/暂停</button>
					<button type="button" class="btn btn-warning" onclick="loadedMetaDataHandler()">获取元数据</button>
					<button type="button" class="btn btn-success" onclick="newElement()">添加元件</button>
					<button type="button" class="btn btn-info" onclick="newDanmu()">添加弹幕</button>
					<a class="btn btn-success" href="manual/animate.html" target="_blank">更多弹幕动作</a>
				</div>
			</div>
			
			<div class="row padding-bottom-10">
				<div class="col-xs-12 col-sm-6 col-md-3 col-sm-offset-2 col-md-offset-2">
					<div class="inputleft input-group">
						<div class="input-group-addon">跳转时间：</div>
						<input type="text" class="textinput seektime form-control" placeholder="0" value="20" />
						<div class="input-group-addon">秒</div>
					</div>
					<span class="floatleft">
					    <button type="button" class="btn btn-info" onclick="seekTime()">跳转</button>
					</span>
				</div>
			</div>
			
			<div class="row padding-bottom-10">
				<div class="col-xs-12 col-sm-6 col-md-3 col-sm-offset-2 col-md-offset-2">
					<div class="inputleft input-group">
						<div class="input-group-addon">设置音量：</div>
						<input type="text" class="textinput changevolume form-control" placeholder="0.2" value="0.2" />
					</div>
					<span class="floatleft">
					    <button type="button" class="btn btn-info" onclick="changeVolume()">设置</button>
					</span>
				</div>
			</div>
			
			
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
					<div class="inputleft input-group">
						<div class="input-group-addon">设置一个新视频地址：</div>
						<input type="text" class="videourl form-control" placeholder="视频地址" value="http://vjs.zencdn.net/v/oceans.mp4" />
					</div>
					<div class="floatleft">
						<button type="button" class="btn btn-info" onclick="newVideo()">播放</button>
					</div>
				</div>
			</div>
			
			
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
					<div class="inputleft input-group">
						<div class="input-group-addon">设置一个新视频地址：</div>
						<input type="text" class="videourl2 form-control" placeholder="视频地址" value="http://img.ksbbs.com/asset/Mon_1703/d30e02a5626c066.mp4" />
					</div>
					<div class="floatleft">
						<button type="button" class="btn btn-info" onclick="newVideo2()">播放</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container-fluid padding-top-10">
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
					<h3>监听功能：</h3>
					<p class="handler">
						<span class="playstate btn btn-primary">播放状态：暂停</span>
						<span class="seekstate btn btn-danger">无跳转时间</span>
						<span class="volumechangestate btn btn-info">当前音量：0.8</span>
						<span class="fullstate btn btn-warning">是否全屏：否</span>
						<span class="endedstate btn btn-success">还未结束</span>
						<span class="videochangestate btn btn-danger">视频地址正常</span>
						<span class="currenttimestate btn btn-info">当前播放时间（秒）：0</span>
					</p>
				</div>
			</div>
		</div>
		
		
		<script type="text/javascript" src="static/js/video.js"></script>
		
	</body>

</html>